
header{color: #FFFFFF;}

body{
  font-family: "Roboto";
}


.section-button{
background-color: var(--gray);
font-size: 16px;
line-height: 1.8;
font-weight: 700;
  text-align: center;


}

.logo-header{ color:#000000;
  font-size: 23px; 
  line-height: 1.2;
  text-decoration: none; 
  font-family: "Raleway", sans-serif;
font-weight: 700;


}


a {
  text-decoration: none;
}


h1{
color: #FFFFFF;
font-size: 44px;
line-height: 1.4;
font-weight: 900;
text-align: center;
}


button{background-color: var(--button);
    color:#FFFFFF;
    font-size: 24px;
  }


.regulations{
color: black;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;

}


.about-regulations{
color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;

}

.our-services{
color: #212121;
  font-size: 36px;
line-height: 1.2;
font-weight: 700;
text-align: center;
}


.team{

  color: #212121;
  font-size: 36px;
line-height: 1.2;
font-weight: 700;
text-align: center;
}

.name{

  color: #212121;
  font-size: 16px;
line-height: 1.2;
font-weight: 500;

}

.profession{

color: #757575;
  font-size: 16px;
line-height: 1.2;
font-weight: 400;
}

.all-team{
  text-align: center;
}

.logo-footer{color: var(--white);
  font-size: 23px;
  line-height: 1.2;
  text-decoration: none; 
  font-family: "Raleway", sans-serif; 
  font-weight: 700;


}
  


  footer{background-color: var(--gray);}
.address-footer{color: var(--white);}
.li-footer{color: var(--gray);}
.gmail-footer{color: var(--white);}
.tel-footer{color:var(--white) ;}
